#main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#menu {
  height: 900px;
  background-color: #ff6d5c;
  flex-basis: 300px;
}
#board {
  position: relative;
  width: 900px;
  height: 900px;
}
#image {
  position: absolute;
}
#myCanvas {
  position: absolute;
  width: 900px;
  height: 900px;
}
