
.textBox{
    background-color: aqua;
    margin-left:0 ;
    width: 30%;
    padding-bottom: 43%;
    border-right: 2px solid #000 ;
    float: left;
}
.map{
    margin-right: 0;
    width: 69%;
    padding-bottom: 43%;
    float: right;
}

